<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>Your page title</title>
    {% endblock %}
</head>

<body>

    {% block title %}
    <title>
        {% if title %}{{ title }} {% else %}AMIS - A Mouse Image Server{% endif %}
    </title>
    {% endblock %}


    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">AMIS - Prototype</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {# <li><a href="{{ url_for('main.index')}}">Home</a></li>#}
                    {# <li><a href="{{ url_for('main.slice')}}">Slices</a></li>#}
                    {# <li><a href="{{ url_for('main.gene')}}">Gene</a></li>#}
                    {# <li><a href="{{ url_for('main.experiment')}}">Experiment</a></li>#}
                    {# <li><a href="{{ url_for('main.organ')}}">Organ</a></li>#}
                    {# <li><a href="{{ url_for('main.mouse')}}">Mouse</a></li>#}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('main.img_browser')}}">Image Browser</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="https://druggablegenome.net/DRGC_GPCR">IDG
                            Program</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Experimental Design</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Glossary</a></li>
                    {# <li><a href="{{ url_for('main.interest')}}">Interest</a></li>#}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    <!-- Your page content -->
    {% block content %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}

        {% include "footer.html" %}
    </div>
    {% endblock %}
    {% block scripts %}
    <!-- Optional JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename = 'jquery.js') }}">\x3C/script>')</script>
    {{ bootstrap.load_js() }}


    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

    {% endblock %}
</body>

</html>