<footer class="footer">
    <div class="container">
        <p class="text-muted">
            <br>
            <span>© 2019 </span>
            Mar Castanon,
            Chinzorig Dandarchuluun,
            <a target="_blank" href="https://pdspdb.unc.edu/rothlab/">Roth</a>,
            <a target="_blank" href="http://bkslab.org">Shoichet</a>,
            <a target="_blank" href="http://irwinlab.compbio.ucsf.edu">Irwin</a>
            Labs, and UC Regents. Questions? email to <a
                href="mailto:chemistry4biology@gmail.com">chemistry4biology@gmail.com</a>
        </p>
    </div>
</footer>