{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} {% else %}AMIS - A Mouse Image Server{% endif %}
{% endblock %}

{% block navbar %}
     <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">AMIS</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
{#                    <li><a href="{{ url_for('main.index')}}">Home</a></li>#}
{#                    <li><a href="{{ url_for('main.slice')}}">Slices</a></li>#}
{#                    <li><a href="{{ url_for('main.gene')}}">Gene</a></li>#}
{#                    <li><a href="{{ url_for('main.experiment')}}">Experiment</a></li>#}
{#                    <li><a href="{{ url_for('main.organ')}}">Organ</a></li>#}
{#                    <li><a href="{{ url_for('main.mouse')}}">Mouse</a></li>#}
                    <li><a href="{{ url_for('main.img_browser')}}">Image Browser</a></li>
                    <li><a href="https://druggablegenome.net/DRGC_GPCR">IDG Program</a></li>
                    <li><a href="#">Experimental Design</a></li>
                    <li><a href="#">Glossary</a></li>
{#                    <li><a href="{{ url_for('main.interest')}}">Interest</a></li>#}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
        {% include "footer.html" %}
    </div>
{% endblock %}



