<html>
    <head>

    </head>
    <body>
        <a href="../../../admin/slices/">Go back</a>
        <table>
            <tr>
                <td>
                    <p><img src="{{slice.img}}" height="400"></p>
                </td>
                <td valign="top">
                    <h1>Mouse Slice # {{slice.slice_id}}</h1>
                    <p>Gene: <b>{{slice.mouse.gene.name}}</b></p>
                    <p>Mouse number: <b>{{slice.mouse.number}}</b></p>
                    <p>Mouse sex: <b>{{slice.mouse.sex}}</b></p>
                    <p>Mouse Age: <b>{{slice.mouse.age}}</b></p>
                    <p>Manipulation Type: <b>{{slice.mouse.mani_type.type}}</b></p>
                    <p>Organ: <b>{{slice.organ.name}}</b></p>
                    <p>Orientation of Slicing: <b>{{slice.orientation}}</b></p>
                    <p>Resolution: <b>{{slice.resolution}}</b></p>
                    <p>Instrument: <b>{{slice.instrument}}</b></p>
                    <p>Wavelength: <b>{{slice.wavelength}}</b></p>
                    <p>Checksum: <b>{{slice.checksum}}</b></p>
                </td>
            </tr>
        </table>
        <a href="{{slice.tif}}">Download TIF file</a>

    </body>
</html>