{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='scripts/iv-viewer/imageviewer.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ url_for('static', filename='styles/browser.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-md-3">
            <form>
                <div class="form-group row">
                    <label for="sample_type" class="col-sm-4 col-form-label">Sample Type</label>
                    <div class="col-sm-6">
                        <select name="sample_type" class="form-control" id="sample_dropdown">
                            <option value="">Select</option>
                            <option value="Histological"
                                    {% if sample_type == "Histological" %}
                                    selected
                                    {% endif %}
                            >Histological
                            </option>
                            <option value="Cleared"
                                    {% if sample_type == "Cleared" %}
                                    selected
                                    {% endif %}
                            >Cleared
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="gene_dropdown" class="col-sm-4 col-form-label">Gene</label>
                    <div class="col-sm-6">
                        <select name="gene" class="form-control" id="gene_dropdown">
                            <option value="">Select</option>
                            {% for gene_ in genes %}
                                <option value="{{ gene_.gene_name.name }}"
                                        {% if gene == gene_.gene_name.name %}
                                        selected
                                        {% endif %}
                                >{{ gene_.gene_name.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="organ_dropdown" class="col-sm-4 col-form-label">Organ</label>
                    <div class="col-sm-6">
                        <select name="organ" class="form-control" id="organ_dropdown">
                            <option value="">Select</option>
                            {% for organ_ in organs %}
                                <option value="{{ organ_.name }}"
                                        {% if organ == organ_.name %}
                                        selected
                                        {% endif %}
                                >{{ organ_.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="experiment_dropdown" class="col-sm-4 col-form-label">Experiment</label>
                    <div class="col-sm-6">
                        <select name="experiment" class="form-control" id="experiment_dropdown">
                            <option value="">Select</option>
                            {% for experiment_ in experiments %}
                                <option value="{{ experiment_.name }}"
                                        {% if experiment == experiment_.name %}
                                        selected
                                        {% endif %}
                                >{{ experiment_.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-info clear_filter">Clear all filters
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-md-10 row slice_details"></div>
        </div>
        <div class="col-md-6" style="min-height:550px">
            <table class="image_table" style="display: none">
                <tr>
                    <td></td>
                    <td><span class="img_title">tdTomato</span><br/>(contrast stretched)</td>
                    <td><span class="img_title">tdTomato RI</span><br/>(relative intensity)</td>
                    <td></td>
                    <td><span class="img_title">DAPI </span><br/>(contrast stretched)</td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group-vertical" id="specimen_above" data-toggle="buttons">
                        </div>
                    </td>
                    <td>
                        <div class="figure-container area_A">
                            <img src="" data-high-res-src="" class="selected_slice1 img-fluid gallery-items">
                        </div>
                    </td>
                    <td>
                        <div class="area_A_loader" style="display: none"></div>
                        <div class="figure-container area_A">
                            <img src="" data-high-res-src="" class="selected_slice2 img-fluid gallery-items">
                        </div>
                    </td>
                    <td>
                        <img id="img_histological"
                             src="{{ url_for('static', filename='images/LUT_key.png') }}"
                             style="max-height: 240px; display: none;">
                        <img id="img_cleared"
                             src="{{ url_for('static', filename='images/Thalium_LUT.png') }}"
                             style="max-height: 240px; display: none;">
                    </td>
                    <td>
                        <div class="figure-container area_A">
                            <img src="" data-high-res-src="" class="selected_slice3 img-fluid gallery-items">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group-vertical" id="specimen_below" data-toggle="buttons">
                        </div>
                    </td>
                    <td>
                        <div class="figure-container area_B">
                            <img src="" data-high-res-src="" class="selected_slice4 img-fluid gallery-items">
                        </div>
                    </td>
                    <td>
                        <div class="area_B_loader" style="display: none"></div>
                        <div class="figure-container area_B">
                            <img src="" data-high-res-src="" class="selected_slice5 img-fluid gallery-items">
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div class="figure-container area_B">
                            <img src="" data-high-res-src="" class="selected_slice6 img-fluid gallery-items">
                        </div>
                    </td>

                </tr>
            </table>
            <div class="row">
                <div class="loader" style="padding: 50px">
                </div>
                <div class="no_result controls "
                     style="display: none; height: 480px;padding-left: 5px; padding-top: 120px;">
                    <img src="{{ url_for('static', filename='images/no_result.png') }}" height="300px">
                    <div class="text-center text-danger">Please select "Sample Type" > "Gene" > "Organ"</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="text-center b_w_link"></div>
        <div class="controls center">
            <button class="btn btn-info prev disabled" disabled=""><span
                    class="glyphicon glyphicon-chevron-left"></span>prev
            </button>
            <span class="" style="font-weight: bold;color: #0aaaf1;font-size: larger">
                (Slice  <input class="current_id" type="number" min="0" style="width: 50px;"/>
                of <span class="total_result">0</span>)
            </span>
            <button class="btn btn-info next">next <span class="glyphicon glyphicon-chevron-right"></span></button>
            <div class="btn-group colors" id="wavelength" data-toggle="buttons" style="display: none;">
                <label class="btn btn-danger
                                        {% if wavelength == None or wavelength == 'tdTomato' %}
                                            active
                                        {% endif %}
                                ">
                    <input type="radio" name="options" value="tdTomato" autocomplete="off"
                            {% if wavelength == None or wavelength == 'tdTomato' %}
                           checked
                            {% endif %}> tdTomato
                </label>
                <label class="btn btn-danger
                                        {% if wavelength == 'tdTomato-RI' %}
                                            active
                                        {% endif %}
                                ">
                    <input type="radio" name="options" value="tdTomato-RI" autocomplete="off"
                            {% if wavelength == "tdTomato-RI" %}
                           checked
                            {% endif %}
                    > tdTomato-RI
                </label>
                <label class="btn btn-info
                                        {% if wavelength == 'DAPI' %}
                                            active
                                        {% endif %}
                                ">
                    <input type="radio" name="options" value="DAPI" autocomplete="off"
                            {% if wavelength == "DAPI" %}
                           checked
                            {% endif %}
                    > Dapi
                </label>
            </div>
        </div>


        <div class="scrollbar">
            <div class="handle" style="transform: translateZ(0px) translateX(0px); width: 190px;">
                <div class="mousearea"></div>
            </div>
        </div>

        <div class="frame" id="forcecentered" style="overflow: hidden;">
            <ul class="clearfix"></ul>
        </div>
    </div>
    <div class="row">
        <div class="controls">
            <button type="button" class="btn btn-change-color btn-default">Invert color</button>
            <button type="button" class="btn btn-change-bg-color btn-default">Change background color</button>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/sly/sly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/sly/examples/js/vendor/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/iv-viewer/imageviewerScript.js') }}"></script>
    <script type="text/javascript">
        var pos_mouse_number = {% if pos_mouse_number == None %}''{% else %}{{ pos_mouse_number }}{% endif %};
        var neg_mouse_number = {% if neg_mouse_number == None %}''{% else %}{{ neg_mouse_number }}{% endif %};
        var wavelength = {% if wavelength == None %}'tdTomato'{% else %}'{{ wavelength }}'{% endif %};
        var organ = "{{ organ }}";
        var selected_slice = {% if selected_slice == None %}0{% else %}{{ selected_slice }}-1{% endif %};

        $(document).on('click', '.gallery-items', function (event) {
            let highResolutionImage = $(this).attr('data-high-res-src');
            if (highResolutionImage.length > 0) {
                event.preventDefault();
                var viewer = ImageViewer();
                viewer.show(highResolutionImage);
            }
        });
        $(document).on('click', '.copyUrl', function (event) {
            $temp = $("<input>");
            $("body").append($temp);
            $temp.val($('#url').text()).select();
            document.execCommand("copy");
            $temp.remove();
        });
    </script>
    <script src="{{ url_for('static', filename='scripts/browser.js') }}"></script>
{% endblock %}
