{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='scripts/iv-viewer/imageviewer.css') }}" rel="stylesheet"
          type="text/css"/>
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            margin: 250px auto;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        /* Frame */
        .frame {
            height: 180px;
            line-height: 180px;
            overflow: hidden;
        }

        .frame ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            font-size: 50px;
        }

        .frame ul li {
            float: left;
            width: 180px;
            height: 100%;
            margin: 0 1px 0 0;
            padding: 0;
            background: #000;
            color: #ddd;
            text-align: center;
            cursor: pointer;
        }

        .frame ul li.active {
            color: #fff;
            border-top: solid 3px #0aaaf1;
        {#background: #a03232;#}
        }

        /* Scrollbar */
        .scrollbar {
            margin: 0 0 1em 0;
            height: 2px;
            background: #ccc;
            line-height: 0;
        }

        .scrollbar .handle {
            height: 100%;
            background: #0aaaf1;
            cursor: pointer;
        }

        .scrollbar .handle .mousearea {
            position: absolute;
            top: -9px;
            left: 0;
            width: 100%;
            height: 20px;
        }

        /* Controls */
        .controls {
            margin: 25px 0;
            text-align: center;
        }

        /* One Item Per Frame example*/
        .oneperframe {
            height: 300px;
            line-height: 300px;
        }

        .oneperframe ul li {
            width: 1140px;
        }

        .oneperframe ul li.active {
            background: #333;
        }

        /* Crazy  */
        .crazy ul li:nth-child(2n) {
            width: 100px;
            margin: 0 4px 0 20px;
        }

        .crazy ul li:nth-child(3n) {
            width: 300px;
            margin: 0 10px 0 5px;
        }

        .crazy ul li:nth-child(4n) {
            width: 400px;
            margin: 0 30px 0 2px;
        }

        .figure-container img {
            height: 240px;
            width: 240px;
            background: black;
        }

        /* Hover on Parent Container */
        .figure-container:hover {
            cursor: zoom-in;
        }

        .image_table td {
            padding: 5px;
            text-align: center;
        }

        .img_title {

            font-weight: bold;
        }
        .img-fluid {
          object-fit: contain;
        }
    </style>
{% endblock %}


{% block app_content %}
    <div class="row">
        <div class="col-md-3">
            <form>
                <div class="form-group row">
                    <label for="gene_dropdown" class="col-sm-4 col-form-label">Gene</label>
                    <div class="col-sm-6">
                        <select name="gene" class="form-control" id="gene_dropdown">
                            <option value="">Select</option>
                            {% for gene_ in genes %}
                                <option value="{{ gene_.gene_name.name }}"
                                        {% if gene == gene_.gene_name.name %}
                                        selected
                                        {% endif %}
                                >{{ gene_.gene_name.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="organ_dropdown" class="col-sm-4 col-form-label">Organ</label>
                    <div class="col-sm-6">
                        <select name="organ" class="form-control" id="organ_dropdown">
                            <option value="">Select</option>
                            {% for organ_ in organs %}
                                <option value="{{ organ_.name }}"
                                        {% if organ == organ_.name %}
                                        selected
                                        {% endif %}
                                >{{ organ_.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="organ_dropdown" class="col-sm-4 col-form-label">Experiment</label>
                    <div class="col-sm-6">
                        <select name="experiment" class="form-control" id="experiment_dropdown">
                            <option value="">Select</option>
                            {% for experiment_ in experiments %}
                                <option value="{{ experiment_.name }}"
                                        {% if experiment == experiment_.name %}
                                        selected
                                        {% endif %}
                                >{{ experiment_.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="organ_dropdown" class="col-sm-4 col-form-label">Sample Type</label>
                    <div class="col-sm-6">
                        <select name="sample_type" class="form-control" id="sample_dropdown">
                            <option value="">Select</option>
                            <option value="Histological"
                                    {% if sample_type == "Histological" %}
                                    selected
                                    {% endif %}
                            >Histological
                            </option>
                            <option value="Cleared"
                                    {% if sample_type == "Cleared" %}
                                    selected
                                    {% endif %}
                            >Cleared
                            </option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="col-md-10 row slice_details">
            </div>
        </div>
        <div class="col-md-6">
            <table class="image_table" style="display: none">
                <tr>
                    <td></td>
                    <td class="img_title">tdTomato</td>
                    <td class="img_title">tdTomato RI</td>
                    <td class="img_title">DAPI</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group-vertical" id="specimen_above" data-toggle="buttons">
                        </div>
                    </td>
                    <td>
                        <div class="figure-container area_A">
                            <img src="" data-high-res-src="" class="selected_slice1 img-fluid gallery-items">
                        </div>
                    </td>
                    <td>
                        <div class="area_A_loader" style="display: none"></div>
                        <div class="figure-container area_A">
                            <img src="" data-high-res-src="" class="selected_slice2 img-fluid gallery-items">
                        </div>
                    </td>
                    <td>
                        <div class="figure-container area_A">
                            <img src="" data-high-res-src="" class="selected_slice3 img-fluid gallery-items">
                        </div>
                    </td>
                    <td>
                        <img id="img_histological"
                             src="{{ url_for('static', filename='images/LUT_key.jpg') }}"
                             style="max-height: 240px; display: none;">
                        <img id="img_cleared"
                             src="{{ url_for('static', filename='images/Thalium_LUT.png') }}"
                             style="max-height: 240px; display: none;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn-group-vertical" id="specimen_below" data-toggle="buttons">
                        </div>
                    </td>
                    <td>
                        <div class="figure-container area_B">
                            <img src="" data-high-res-src="" class="selected_slice4 img-fluid gallery-items">
                        </div>
                    </td>
                    <td>
                        <div class="area_B_loader" style="display: none"></div>
                        <div class="figure-container area_B">
                            <img src="" data-high-res-src="" class="selected_slice5 img-fluid gallery-items">
                        </div>
                    </td>
                    <td>
                        <div class="figure-container area_B">
                            <img src="" data-high-res-src="" class="selected_slice6 img-fluid gallery-items">
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="loader" style="padding: 50px">
                </div>
                <div class="no_result controls "
                     style="display: none; height: 480px;padding-left: 5px; padding-top: 120px;"><img
                        src="{{ url_for('static', filename='images/no_result.png') }}" height="300px">
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="text-center b_w_link">

        </div>
        <div class="controls center">
            <button class="btn btn-info prev disabled" disabled=""><span
                    class="glyphicon glyphicon-chevron-left"></span>prev
            </button>
            <span class="" style="font-weight: bold;color: #0aaaf1;font-size: larger">
                (Slice  <input class="current_id" type="number" min="0" style="width: 50px;"/>
                of <span class="total_result">0</span>)
            </span>
            <button class="btn btn-info next">next <span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>


        <div class="scrollbar">
            <div class="handle" style="transform: translateZ(0px) translateX(0px); width: 190px;">
                <div class="mousearea"></div>
            </div>
        </div>

        <div class="frame" id="forcecentered" style="overflow: hidden;">
            <ul class="clearfix"></ul>
        </div>
    </div>
    <div class="row">
        <div class="controls center">
            <div class="btn-group colors" id="wavelength" data-toggle="buttons" style="display: none;">
                <label class="btn btn-danger
                                        {% if wavelength == None or wavelength == 'tdTomato' %}
                                            active
                                        {% endif %}
                                ">
                    <input type="radio" name="options" value="tdTomato" autocomplete="off"
                            {% if wavelength == None or wavelength == 'tdTomato' %}
                           checked
                            {% endif %}> tdTomato
                </label>
                <label class="btn btn-danger
                                        {% if wavelength == 'tdTomato-RI' %}
                                            active
                                        {% endif %}
                                ">
                    <input type="radio" name="options" value="tdTomato-RI" autocomplete="off"
                            {% if wavelength == "tdTomato-RI" %}
                           checked
                            {% endif %}
                    > tdTomato-RI
                </label>
                <label class="btn btn-info
                                        {% if wavelength == 'DAPI' %}
                                            active
                                        {% endif %}
                                ">
                    <input type="radio" name="options" value="DAPI" autocomplete="off"
                            {% if wavelength == "DAPI" %}
                           checked
                            {% endif %}
                    > Dapi
                </label>
            </div>
        </div>
        <div class="controls">
            <button type="button" class="btn btn-change-color btn-default">Invert color</button>
            <button type="button" class="btn btn-change-bg-color btn-default">Change background color</button>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/sly/sly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/sly/examples/js/vendor/plugins.js') }}"></script>
    {#    <script src="{{ url_for('static', filename='scripts/sly/horizontal.js') }}"></script>#}
    <script src="{{ url_for('static', filename='scripts/iv-viewer/imageviewerScript.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var img_color = 1;
            var bg_color = 1;
            var total_result = 0;
            var pos_mouse_number = {% if pos_mouse_number == None %}''{% else %}{{ pos_mouse_number }}{% endif %};
            var neg_mouse_number = {% if neg_mouse_number == None %}''{% else %}{{ neg_mouse_number }}{% endif %};
            var wavelength = {% if wavelength == None %}'tdTomato'{% else %}'{{ wavelength }}'{% endif %};
            var organ = "{{ organ }}";
            var pos_DAPI_list = [];
            var pos_tomato_list = [];
            var neg_DAPI_list = [];
            var neg_tomato_list = [];
            var $frame = $('#forcecentered');
            var $wrap = $frame.parent();

            var slyOptions = {
                horizontal: 1,
                itemNav: 'forceCentered',
                smart: 1,
                activateMiddle: 1,
                activateOn: 'click',
                mouseDragging: 1,
                touchDragging: 1,
                releaseSwing: 1,
                startAt: {% if selected_slice == None %}0{% else %}{{ selected_slice }}-1{% endif %},
                scrollBar: $wrap.find('.scrollbar'),
                scrollBy: 1,
                speed: 300,
                elasticBounds: 1,
                easing: 'easeOutExpo',
                dragHandle: 1,
                dynamicHandle: 1,
                clickBar: 1,

                // Buttons
                prev: $wrap.find('.prev'),
                next: $wrap.find('.next')
            };

            change_bg();
            $('.no_result').show();
            $(".loader").hide();
            updateFilter(4);
            scalebar_change();

            $('#gene_dropdown').change(function () {
                slyOptions['startAt'] = 0;
                pos_mouse_number = "";
                neg_mouse_number = "";
                updateFilter(0);
            });

            $('#organ_dropdown').change(function () {
                slyOptions['startAt'] = 0;
                pos_mouse_number = "";
                neg_mouse_number = "";
                updateFilter(1);
            });

            $('#experiment_dropdown').change(function () {
                slyOptions['startAt'] = 0;
                pos_mouse_number = "";
                neg_mouse_number = "";
                updateFilter(2);
            });

            $('#sample_dropdown').change(function () {
                scalebar_change();
                slyOptions['startAt'] = 0;
                pos_mouse_number = "";
                neg_mouse_number = "";
                updateFilter(3);
            });

            $("#specimen_above").on('click', '.btn', function (event) {
                slyOptions['startAt'] = 0;
                pos_mouse_number = $(this).find('input').val();
                updateAreaC();
            });

            $(".current_id").change(function(){
                if($('.current_id').val() > parseInt($('.total_result').text())){
                    $('.current_id').val(parseInt($('.total_result').text()));
                }
                var current = parseInt($('.current_id').val()) - 1;
                slyOptions['startAt'] = current;
                updateAreaC();
            });

            $("#specimen_below").on('click', '.btn', function (event) {
                slyOptions['startAt'] = 0;
                neg_mouse_number = $(this).find('input').val();

                var area_b_url = "/slices?per_page=-1&order_by=slice_id";
                if($('#gene_dropdown').val().length > 0) {
                    area_b_url += "&gene=" + $('#gene_dropdown').val();
                }
                if($('#organ_dropdown').val().length > 0) {
                    area_b_url += "&organ=" + $('#organ_dropdown').val();
                }
                if($('#experiment_dropdown').val().length > 0) {
                    area_b_url += "&experiment=" + $('#experiment_dropdown').val();
                }
                if($('#sample_dropdown').val().length > 0) {
                    area_b_url += "&instrument=" + $('#sample_dropdown').val();
                }
                if (neg_mouse_number != "") {
                    area_b_url += "&mouse_number=" + neg_mouse_number;
                }
                fillAreaBImageArrays(area_b_url);
            });

            $("#wavelength .btn").on('click', function (event) {
                wavelength = $(this).find('input').val();
                var current = parseInt($('.current_id').val()) - 1;
                slyOptions['startAt'] = current;
                updateAreaC();
            });

            function no_result(){
                $('.no_result').show();
                $(".loader").hide();
                $('.image_table').hide();
                $('.slice_details').hide();
                $('.current_id').val(0);
                $('.clearfix').html("");
                $('#wavelength').hide();
            }

            function scalebar_change() {
                if ($('#sample_dropdown').val().toLowerCase() == "cleared") {
                    $('#img_histological').hide();
                    $('#img_cleared').show();
                } else {
                    $('#img_cleared').hide();
                    $('#img_histological').show();
                }
            }

            function updateFilter(selected) {
                var url = "/filters?";
                var dropdowns = 0;
                if($('#gene_dropdown').val().length > 0) {
                    dropdowns += $('#gene_dropdown').val().length;
                    url += "gene=" + $('#gene_dropdown').val();
                }
                if($('#organ_dropdown').val().length > 0) {
                    dropdowns += $('#organ_dropdown').val().length;
                    url += "&organ=" + $('#organ_dropdown').val();
                }
                if($('#experiment_dropdown').val().length > 0) {
                    dropdowns += $('#experiment_dropdown').val().length;
                    url += "&experiment=" + $('#experiment_dropdown').val();
                }
                if($('#sample_dropdown').val().length > 0) {
                    dropdowns += $('#sample_dropdown').val().length;
                    url += "&instrument=" + $('#sample_dropdown').val();
                }

                var gene_arr = [];
                var genes = "<option value=\"\">Select</option>";
                var organ_arr = [];
                var organs = "<option value=\"\">Select</option>";
                var experiment_arr = [];
                var experiments = "<option value=\"\">Select</option>";
                var sample_type_arr = [];
                var sample_types = "<option value=\"\">Select</option>";

                $.ajax({
                    type: 'GET',
                    url: url,
                    "dataType": "json",
                    "dataSrc": "items",
                    success: function (data) {
                        for (i in data.items) {
                            gene_arr.push(data.items[i].gene);
                            organ_arr.push(data.items[i].organ);
                            experiment_arr.push(data.items[i].experiment);
                            sample_type_arr.push(data.items[i].sample_type);
                        }
                        if (selected != 0) {
                            gene_arr.sort();
                            gene_arr = gene_arr.filter(onlyUnique);
                            gene_arr.forEach(function (item) {
                                if ($('#gene_dropdown').val() != "" && item == $('#gene_dropdown').val()) {
                                    genes += "<option value='" + item + "' selected>";
                                    genes += item + "</option>";
                                } else {
                                    genes += "<option value='" + item + "'>" + item + "</option>";
                                }
                            });
                        }

                        if (selected != 1) {
                            organ_arr.sort();
                            organ_arr = organ_arr.filter(onlyUnique);
                            organ_arr.forEach(function (item) {
                                if ($('#organ_dropdown').val() != "" && item == $('#organ_dropdown').val()) {
                                    organs += "<option value='" + item + "' selected>";
                                    organs += item + "</option>";
                                } else {
                                    organs += "<option value='" + item + "'>" + item + "</option>";
                                }
                            });
                        }

                        if (selected != 2) {
                            experiment_arr.sort();
                            experiment_arr = experiment_arr.filter(onlyUnique);
                            experiment_arr.forEach(function (item) {
                                if ($('#experiment_dropdown').val() != "" && item == $('#experiment_dropdown').val()) {
                                    experiments += "<option value='" + item + "' selected>";
                                    experiments += item + "</option>";
                                } else {
                                    experiments += "<option value='" + item + "'>" + item + "</option>";
                                }
                            });
                        }

                        if (selected != 3) {
                            sample_type_arr.sort();
                            sample_type_arr = sample_type_arr.filter(onlyUnique);
                            sample_type_arr.forEach(function (item) {
                                console.log(item);
                                if ($('#sample_dropdown').val() != "" && item == $('#sample_dropdown').val()) {
                                    sample_types += "<option value='" + item + "' selected>";
                                    sample_types += item + "</option>";
                                } else {
                                    sample_types += "<option value='" + item + "'>" + item + "</option>";
                                }
                            });
                        }

                        if (selected == 0) {
                            $('#organ_dropdown').html(organs);
                            $('#experiment_dropdown').html(experiments);
                            $('#sample_dropdown').html(sample_types);
                        }
                        if (selected == 1) {
                            $('#experiment_dropdown').html(experiments);
                            $('#sample_dropdown').html(sample_types);
                        }
                        if (selected == 2) {
                            $('#sample_dropdown').html(sample_types);
                        }
                        {#if (selected == 3) {#}
                        {#    $('#gene_dropdown').html(genes);#}
                        {#    $('#experiment_dropdown').html(experiments);#}



                        if(dropdowns == 0){
                            no_result();
                            return 0;
                        }else{
                            updateSpecimen();
                        }

                    }, error: function (jqXHR, status, err) {

                    }
                });

            }

            function updateAreaA(index) {
                if (index == -1) {
                    no_result();
                } else {
                    if (total_result == 0) {
                        $('.current_id').val(0);
                    } else {
                        $('.current_id').val(index + 1);
                    }
                    $('.no_result').hide();
                    $('.slice_details').show();
                    $('.image_table').show();
                    $('#wavelength').show();
                    $(".loader").hide();

                    $('.selected_slice1').attr('src', pos_tomato_list[index] + ".png");
                    $('.selected_slice1').attr('data-high-res-src', pos_tomato_list[index] + ".jpg");
                    $('.selected_slice2').attr('src', pos_tomato_list[index] + "_RI.png");
                    $('.selected_slice2').attr('data-high-res-src', pos_tomato_list[index] + "_RI.jpg");
                    $('.selected_slice3').attr('src', pos_DAPI_list[index] + ".png");
                    $('.selected_slice3').attr('data-high-res-src', pos_DAPI_list[index] + ".jpg");

                    var id = $('._' + index).attr('id');
                    updateSliceDetail(id);
                }
            }

            function updateAreaB(index) {
                if (index == -1) {

                } else {
                    if (index + 1 > neg_tomato_list.length) {
                        $('.area_B img').css('cursor', 'auto');
                        $('.selected_slice4').attr('src', "/static/images/na.png");
                        $('.selected_slice4').attr('data-high-res-src', "");
                        $('.selected_slice5').attr('src', "/static/images/na.png");
                        $('.selected_slice5').attr('data-high-res-src', "");
                        $('.selected_slice6').attr('src', "/static/images/na.png");
                        $('.selected_slice6').attr('data-high-res-src', "");

                    } else {
                        $('.area_B img').css('cursor', 'zoom-in');
                        $('.selected_slice4').attr('src', neg_tomato_list[index] + ".png");
                        $('.selected_slice4').attr('data-high-res-src', neg_tomato_list[index] + ".jpg");
                        $('.selected_slice5').attr('src', neg_tomato_list[index] + "_RI.png");
                        $('.selected_slice5').attr('data-high-res-src', neg_tomato_list[index] + "_RI.jpg");
                        $('.selected_slice6').attr('src', neg_DAPI_list[index] + ".png");
                        $('.selected_slice6').attr('data-high-res-src', neg_DAPI_list[index] + ".jpg");
                    }
                }
            }

            function updateAreaC() {
                var area_a_url = "/slices?per_page=-1&order_by=slice_id";
                var area_b_url;
                if($('#gene_dropdown').val().length > 0) {
                    area_a_url += "&gene=" + $('#gene_dropdown').val();
                }
                if($('#organ_dropdown').val().length > 0) {
                    area_a_url += "&organ=" + $('#organ_dropdown').val();
                }
                if($('#experiment_dropdown').val().length > 0) {
                    area_a_url += "&experiment=" + $('#experiment_dropdown').val();
                }
                if($('#sample_dropdown').val().length > 0) {
                    area_a_url += "&instrument=" + $('#sample_dropdown').val();
                }
                if (neg_mouse_number != "") {
                    area_b_url = area_a_url + "&mouse_number=" + neg_mouse_number;
                }
                if (wavelength == "tdTomato-RI") {
                    area_a_url += "&wavelength=tdTomato";
                } else {
                    area_a_url += "&wavelength=" + wavelength;
                }
                if (pos_mouse_number != "") {
                    area_a_url += "&mouse_number=" + pos_mouse_number;
                }

                pos_tomato_list = [];
                pos_DAPI_list = [];
                $.ajax({
                    type: 'GET',
                    url: area_a_url,
                    "dataType": "json",
                    "dataSrc": "items",
                    success: function (data) {
                        var content = "";
                        total_result = 0;
                        for (i in data.items) {
                            total_result++;
                            content += "<li class='_" + i + "' id='" + data.items[i].id + "'><img src='";
                            if (wavelength == "tdTomato-RI") {
                                content += data.items[i].img_small_RI;
                            } else {
                                content += data.items[i].img_small;
                            }
                            content += "' width='180px' ></li>";
                            if (wavelength == "DAPI") {
                                pos_DAPI_list.push(data.items[i].img_no_ext);
                            } else {
                                pos_tomato_list.push(data.items[i].img_no_ext);
                            }
                        }
                        $('.total_result').html(total_result);
                        $('.current_id').attr("max", total_result);
                        $('.current_id').attr("min", 1);
                        if (content.length == 0) {
                            $('.clearfix').html("<li>N/A</li>");
                        } else {
                            $('.clearfix').html(content);
                        }

                        $frame.sly(false);
                        $frame.sly(slyOptions);
                        $frame.sly('on', 'active', function (eventName, itemIndex) {
                            updateAreaA(itemIndex);
                            updateAreaB(itemIndex);
                        });
                        if (img_color == 1) {
                            img_color = 2;
                        } else {
                            img_color = 1;
                        }
                        changeFilter();
                        if (content.length > 0) {
                            if (wavelength == "DAPI") {
                                area_a_url = area_a_url.replace('wavelength=DAPI', 'wavelength=tdTomato');
                            } else {
                                area_a_url = area_a_url.replace('wavelength=tdTomato', 'wavelength=DAPI')
                            }
                            fillAreaAImageArrays(area_a_url);
                            fillAreaBImageArrays(area_b_url);
                            $('.wavelength').show();
                        } else {
                            updateAreaA(-1);
                        }
                    }, error: function (jqXHR, status, err) {
                        {#console.log(status);#}
                    }
                });
            }


            function fillAreaAImageArrays(url) {
                $.ajax({
                    type: 'GET',
                    url: url,
                    "dataType": "json",
                    "dataSrc": "items",
                    success: function (data) {
                        for (i in data.items) {
                            if (wavelength != "DAPI") {
                                pos_DAPI_list.push(data.items[i].img_no_ext);
                            } else {
                                pos_tomato_list.push(data.items[i].img_no_ext);
                            }
                        }
                        updateAreaA(slyOptions['startAt']);
                        updateAreaB(slyOptions['startAt']);
                    }, error: function (jqXHR, status, err) {

                    }
                });
            }

            function fillAreaBImageArrays(url) {
                neg_tomato_list = [];
                neg_DAPI_list = [];
                $.ajax({
                    type: 'GET',
                    url: url,
                    "dataType": "json",
                    "dataSrc": "items",
                    success: function (data) {
                        for (i in data.items) {
                            if (data.items[i].wavelength == 'DAPI') {
                                neg_DAPI_list.push(data.items[i].img_no_ext);
                            } else {
                                neg_tomato_list.push(data.items[i].img_no_ext);
                            }
                        }
                        updateAreaB($('.current_id').val() - 1);
                    }, error: function (jqXHR, status, err) {

                    }
                });
            }

            function updateSliceDetail(id) {
                $.ajax({
                    type: 'GET',
                    url: "/slices?id=" + id,
                    "dataType": "json",
                    "dataSrc": "items",
                    success: function (data) {
                        var content = "";
                        for (i in data.items) {
                            content += "<br/><br/><p>Probe: " + data.items[i].gene + "</p>";
                            content += "<p>MD5: <b>" + data.items[i].checksum + "</b></p>";
                            content += "<p><a href=" + data.items[i].tif_url + ">Download TIF file</a></p>";
                            content += "<p>Shareable URL: <button class='copyUrl btn btn-info'>Copy page URL</button></p>";
                            content += "<div id='url' style='display:none;'>http://amis.docking.org/img_browser";
                            content += "?";
                            if($('#gene_dropdown').val().length > 0) {
                                content += "gene=" + $('#gene_dropdown').val();
                            }
                            if($('#organ_dropdown').val().length > 0) {
                                content += "&organ=" + $('#organ_dropdown').val();
                            }
                            if($('#experiment_dropdown').val().length > 0) {
                                content += "&experiment=" + $('#experiment_dropdown').val();
                            }
                            if($('#sample_dropdown').val().length > 0) {
                                content += "&instrument=" + $('#sample_dropdown').val();
                            }
                            content += "<br/>&wavelength=" + wavelength;
                            if (pos_mouse_number != "") {
                                content += "&pos_mouse_number=" + pos_mouse_number;
                            }
                            if (neg_mouse_number != "") {
                                content += "&neg_mouse_number=" + neg_mouse_number;
                            }
                            content += "&selected_slice=" + $('.current_id').val() + "</div>";
                        }
                        $('.slice_details').html(content);
                    }, error: function (jqXHR, status, err) {
                        {#console.log(status);#}
                        $('.alert-danger .text').text(err.toLowerCase() + '!');
                        $('.alert-danger').show();
                    }
                });
            }

            function updateSpecimen() {
                $(".loader").show();
                var uri = "/mice?";
                if($('#gene_dropdown').val().length > 0) {
                    uri += "&gene=" + $('#gene_dropdown').val();
                }
                if($('#organ_dropdown').val().length > 0) {
                    uri += "&organ=" + $('#organ_dropdown').val();
                }
                if($('#experiment_dropdown').val().length > 0) {
                    uri += "&experiment=" + $('#experiment_dropdown').val();
                }
                if($('#sample_dropdown').val().length > 0) {
                    uri += "&instrument=" + $('#sample_dropdown').val();
                }


                $.ajax({
                    type: 'GET',
                    url: uri,
                    "dataType": "json",
                    "dataSrc": "items",
                    success: function (data) {
                        var content_above = "";
                        var content_below = "";

                        data.items.sort(compareValues('number', 'asc'));
                        data.items.sort(compareValues('sex', 'asc'));
                        data.items.sort(compareValues('spec', 'asc'));

                        for (i in data.items) {
                            var content = "";
                            content += "<label class='btn btn2 btn-info";
                            if ((pos_mouse_number == data.items[i].number || pos_mouse_number == "") && data.items[i].spec == '+') {
                                pos_mouse_number = data.items[i].number;
                                content += " active";
                            }
                            if ((neg_mouse_number == data.items[i].number || neg_mouse_number == "") && data.items[i].spec == '-') {
                                neg_mouse_number = data.items[i].number;
                                content += " active";
                            }

                            content += "'><input type='radio' name='options' ";
                            content += "value='" + data.items[i].number + "'> " + data.items[i].spec;

                            if (data.items[i].sex) {
                                content += " <i class='fas fa-mars'></i> ";
                            } else {
                                content += " <i class='fas fa-venus'></i> ";
                            }
                            content += data.items[i].age + " " + data.items[i].number + "</label>";
                            if (data.items[i].spec == '+') {
                                content_above += content;
                            } else {
                                content_below += content;
                            }
                        }
                        $('#specimen_above').html(content_above);
                        $('#specimen_below').html(content_below);
                        $(".loader").hide();
                        updateAreaC();
                    }, error: function (jqXHR, status, err) {
                        {#console.log(status);#}
                        $('.alert-danger .text').text(err.toLowerCase() + '!');
                        $('.alert-danger').show();
                    }
                });
            }

            function changeFilter() {
                if (img_color == 1) {
                    $(".area_A img").css('-webkit-filter', 'brightness(10) invert(1)');
                    $(".area_B img").css('-webkit-filter', 'brightness(10) invert(1)');
                    $(".frame li img").css('-webkit-filter', 'brightness(10) invert(1)');
                    $(".frame li").css('background', '#fff');
                    img_color = 2;
                } else {
                    $(".area_A img").css('-webkit-filter', '');
                    $(".area_B img").css('-webkit-filter', '');
                    $(".frame li  img").css('-webkit-filter', '');
                    $(".frame li").css('background', '#000');
                    img_color = 1;
                }
            }

            $(".btn-change-color").click(function () {
                changeFilter();
            });

            $(".btn-change-bg-color").click(function(){
                change_bg();
            });

            function change_bg() {
                if (bg_color == 1) {
                    $("body").css('background-color', '#000');
                    $("body").css('color', '#fff');
                    bg_color = 2;
                } else {
                    $("body").css('background-color', '#fff');
                    $("body").css('color', '#000');
                    bg_color = 1;
                }
            }

            function onlyUnique(value, index, self) {
                return self.indexOf(value) === index;
            }

            function compareValues(key, order = 'asc') {
                return function (a, b) {
                    if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) {
                        // property doesn't exist on either object
                        return 0;
                    }

                    const varA = (typeof a[key] === 'string') ?
                        a[key].toUpperCase() : a[key];
                    const varB = (typeof b[key] === 'string') ?
                        b[key].toUpperCase() : b[key];

                    let comparison = 0;
                    if (varA > varB) {
                        comparison = 1;
                    } else if (varA < varB) {
                        comparison = -1;
                    }
                    return (
                        (order == 'desc') ? (comparison * -1) : comparison
                    );
                };
            }
        });

        $(document).on('click', '.gallery-items', function (event) {
            highResolutionImage = $(this).attr('data-high-res-src');
            if (highResolutionImage.length > 0) {
                event.preventDefault();
                var viewer = ImageViewer();
                viewer.show(highResolutionImage);
            }
        });
        $(document).on('click', '.copyUrl', function (event) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($('#url').text()).select();
            document.execCommand("copy");
            $temp.remove();
        });

    </script>
{% endblock %}
