{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
    <link href="https://cdn.datatables.net/select/1.0.0/css/select.dataTables.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.datatables.net/scroller/1.3.0/css/scroller.dataTables.css" rel="stylesheet"
          type="text/css"/>
    <style>
        img {
            object-fit: cover;
            height: 300px;
            width: 300px;
            margin-top: 10px;
        }
    </style>
{% endblock %}
{% block app_content %}
    <div role="main" class="container">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron row less-jumbo" style="padding: 15px;">
            <div class="col-sm-pull-9">
                <h2>AMIS</h2>
                <p>
                    Welcome to A Mouse Imaging Server (AMIS), the home for mouse imaging data generated via the NIH
                    Commonfund Program for Illuminating the Druggable Genome (<a
                        href="https://druggablegenome.net/DRGC_GPCR" target="_blank">IDG</a>). Our
                    goal is to provide the research community with free, immediate access to the whole body distribution
                    of understudied genes via engineered mouse <a href="#" target="_blank">lines</a>.
                </p>
                <p>
                    AMIS is provided by the Roth Lab at UNC Chapel Hill and the Shoichet/Irwin labs at the University of
                    California San Francisco (UCSF).
                </p>
            </div>
        </div><!-- /.jumbotron -->

        <div class="body-content">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <div class="row">

                        <div class="col-xs-6 col-md-12">

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    {#                    <h2>Ask Questions</h2>#}
                    {#                    <p>You can use AMIS for <b>general</b> questions such as</p>#}
                    {#                    <ul>#}
                    {#                        <li>#}
                    {#                            <a target="_blank" href="#">More...</a>#}
                    {#                        </li>#}
                    {#                    </ul>#}
                </div>
                <div class="col-md-4">
                    {#                    <h2>AMIS News</h2>#}
                    {#                    <ul>#}
                    {#                        <li>2019-02-13</li>#}
                    {#                    </ul>#}
                    {#                    <div class="well well-sm">#}
                    {#                        <strong>Caveat Emptor</strong>: We accept no responsibility for errors arising#}
                    {#                        from the use of AMIS. This website and these images are provided in the hope#}
                    {#                        that they will be useful, but you must use it them your own risk.#}
                    {#                    </div>#}
                </div>
            </div>
            <!-- /.row -->
            <form>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="search_by_dropdown" class="col-sm-4 col-form-label">Search by:</label>
                            <div class="col-sm-7">
                                <select name="search_by_dropdown" class="form-control" id="search_by_dropdown">
                                    <option value="1">Gene</option>
                                    <option value="2">Organ</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row gene">
                            <label for="gene_dropdown" class="col-sm-4 col-form-label">Gene</label>
                            <div class="col-sm-7">
                                <select name="gene" class="form-control" id="gene_dropdown">
                                    {% for gene in genes %}
                                        <option value="{{ gene.name }}"
                                                {% if gene_name == gene.name %}
                                                selected
                                                {% endif %}
                                        >{{ gene.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row organ" style="display: none">
                            <label for="organ_dropdown" class="col-sm-4 col-form-label">Organ</label>
                            <div class="col-sm-7">
                                <select name="organ" class="form-control" id="organ_dropdown">
                                    {% for organ in organs %}
                                        <option value="{{ organ.name }}">{{ organ.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row " style="display: block">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-7">
                                <table id="gene_table" class="display" style="width:100%; display: none">
                                    <thead>
                                    <tr>
                                        <th>Gene</th>
                                        <th>Expression</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                </table>
                                <table id="organ_table" class="display" style="width:100%; display: none">
                                    <thead>
                                    <tr>
                                        <th>Organ</th>
                                        <th>Expression</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-8 img_section" style="display: none">
                        <div class="row text-center">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-5">
                                <p id="pos_title"></p>
                            </div>
                            <div class="col-sm-5">
                                <p id="neg_title"></p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-2">
                                <br/><br/><br/><br/><br/><br/><br/>
                                <b>tdTanimoto</b>
                            </div>
                            <div class="col-sm-5">
                                <img src="" class="selected_img1 img-fluid"/>
                            </div>
                            <div class="col-sm-5">
                                <img src="" class="selected_img2 img-fluid"/>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-2 ">
                                <br/><br/><br/><br/><br/><br/><br/>
                                <b>DAPI</b>
                            </div>
                            <div class="col-sm-5">
                                <img src="" class="selected_img3 img-fluid"/>
                            </div>
                            <div class="col-sm-5">
                                <img src="" class="selected_img4 img-fluid"/>
                            </div>
                        </div>
                        <div class="row text-center">
                            <br/>
                            <p><a href="" id="imgBrowser">Click here to see full dataset</a></p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.0.0/js/dataTables.select.js"></script>
    <script src="https://cdn.datatables.net/scroller/1.3.0/js/dataTables.scroller.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table_row_selection_val = ''
            var firstLoad = 1;
            OrganFunc();

            $('#search_by_dropdown').change(function () {
                if ($(this).val() == 1) {
                    $('.gene').show();
                    $('.organ').hide();
                    OrganFunc();

                } else {
                    $('.organ').show();
                    $('.gene').hide();
                    GeneFunc();
                }
            });

            $('#gene_dropdown').change(function () {
                OrganFunc();

            });

            $('#organ_dropdown').change(function () {
                GeneFunc();
            });

            $('#imgBrowser').click(function () {
                ImageBrowser();
                return false;
            });

            function ImageBrowser() {
                var url = "/img_browser?";
                if ($('#search_by_dropdown').val() == 1) {
                    url += "gene_name=" + $('#gene_dropdown').val() + table_row_selection_val;
                } else {
                    url += "organ_name=" + $('#organ_dropdown').val() + table_row_selection_val;
                }
                window.location.href = url;
            }

            function ImageChange(val1, val2, val3, val4) {
                $('.img_section').show();
                $('.selected_img1').attr('src', val1);
                $('.selected_img2').attr('src', val2);
                $('.selected_img3').attr('src', val3);
                $('.selected_img4').attr('src', val4);

                $("#pos_title").html("<b>" + $('#gene_dropdown').val() + "+</b>");
                $("#neg_title").html("<b>" + $('#gene_dropdown').val() + "-</b>");
            }

            function GeneFunc() {
                $('#organ_table').hide();
                $('#organ_table').dataTable().fnClearTable();
                $('#organ_table').dataTable().fnDestroy();
                $('.img_section').hide();
                $('#gene_table').show();
                var geneTable = $('#gene_table').DataTable({
                    "ajax": {
                        "url": "/lookups?organ_name=" + $('#organ_dropdown').val(),
                        "dataType": "json",
                        "dataSrc": "items"
                    },
                    "columns": [
                        {"data": "gene_name"},
                        {"data": "status"},
                        {"data": "t_pos"},
                        {"data": "t_neg"},
                        {"data": "d_pos"},
                        {"data": "d_neg"},
                    ],
                    "columnDefs": [
                        {
                            "targets": [2],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [3],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [4],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [5],
                            "visible": false,
                            "searchable": false
                        }
                    ],
                    deferRender: true,
                    destroy: true,
                    searching: false,
                    paging: false,
                    info: false,
                    select: true,
                    processing: true,

                });

                geneTable.off('select').on('select', function (e, dt, type, indexes) {
                    if (type == 'row') {
                        var d_pos = geneTable.rows(indexes).data().pluck('d_pos');
                        var d_neg = geneTable.rows(indexes).data().pluck('d_neg');
                        var t_pos = geneTable.rows(indexes).data().pluck('t_pos');
                        var t_neg = geneTable.rows(indexes).data().pluck('t_neg');

                        ImageChange(t_pos[0], t_neg[0], d_pos[0], d_neg[0]);

                        var gene_name = geneTable.rows(indexes).data().pluck('gene_name');
                        table_row_selection_val = "&gene_name=" + gene_name[0];

                    }
                });

            }

            function OrganFunc() {
                $('#gene_table').hide();
                $('#gene_table').dataTable().fnClearTable();
                $('#gene_table').dataTable().fnDestroy();
                $('.img_section').hide();
                $('#organ_table').show();
                var organTable = $('#organ_table').DataTable({
                    "ajax": {
                        "url": "/lookups?gene_name=" + $('#gene_dropdown').val(),
                        "dataType": "json",
                        "dataSrc": "items"
                    },
                    "columns": [
                        {"data": "organ_name"},
                        {"data": "status"},
                        {"data": "t_pos"},
                        {"data": "t_neg"},
                        {"data": "d_pos"},
                        {"data": "d_neg"},
                    ],
                    "columnDefs": [
                        {
                            "targets": [2],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [3],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [4],
                            "visible": false,
                            "searchable": false
                        },
                        {
                            "targets": [5],
                            "visible": false,
                            "searchable": false
                        }
                    ],
                    "initComplete": function () {
                        if (firstLoad == 1) {
                            organTable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                                var data = this.data();
                                if (data.organ_name == '{{ organ_name }}') {
                                    ImageChange(data.t_pos, data.t_neg, data.d_pos, data.d_neg);

                                }
                            });
                            firstLoad = 2;
                        }
                    },
                    responsive: true,
                    deferRender: true,
                    destroy: true,
                    searching: false,
                    paging: false,
                    info: false,
                    select: true,
                    processing: true,
                });

                organTable.off('select').on('select', function (e, dt, type, indexes) {

                    if (type == 'row') {
                        organTable.rows('.default').select();
                        var d_pos = organTable.rows(indexes).data().pluck('d_pos');
                        var d_neg = organTable.rows(indexes).data().pluck('d_neg');
                        var t_pos = organTable.rows(indexes).data().pluck('t_pos');
                        var t_neg = organTable.rows(indexes).data().pluck('t_neg');

                        ImageChange(t_pos[0], t_neg[0], d_pos[0], d_neg[0]);

                        var organ_name = organTable.rows(indexes).data().pluck('organ_name');
                        table_row_selection_val = "&organ_name=" + organ_name[0];
                    }
                });
            }


        });
    </script>

{% endblock %}