{% extends "base.html" %}
{% block app_content %}
    <div role="main" class="container">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron row less-jumbo">
            <div class="col-md-6">
                <h1>AMIS</h1>
                <p>
                   Welcome to AMIS, a freely available image database of gene expression in the mouse.
                    AMIS contains over 1000 high-resolution images of fluorescently labeled orphan GPCR genes.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                   AMIS is provided by the Roth Lab at UNC Chapel Hill and the Shoichet/Irwin labs at the University of California San Francisco (UCSF).
                </p>
            </div>
        </div><!-- /.jumbotron -->

        <div class="body-content">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-xs-6 col-md-12">
                            <h2>Getting Started</h2>
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        Getting Started
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        What's New
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        About AMIS Resources
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        Current Status / In Progress
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-md-12">
                            <h2>Explore Resources</h2>
                            <dl class="dl-inline">
                                <dt>Chemistry</dt>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <h2>Ask Questions</h2>
                    <p>You can use AMIS for <b>general</b> questions such as</p>
                    <ul>
                        <li>
                            <a target="_blank" href="#">More...</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>AMIS News</h2>
                    <ul>
                        <li>2019-02-13</li>
                    </ul>
                    <div class="well well-sm">
                        <strong>Caveat Emptor</strong>: We accept no responsibility for errors arising
                        from the use of AMIS. This website and these images are provided in the hope
                        that they will be useful, but you must use it them your own risk.
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
{% endblock %}