{% extends "base.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
{% endblock %}


{% block app_content %}
    <table id="mouse" class="display" style="width:85%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Number</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Gene</th>
                <th>Manipulation Type</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Number</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Gene</th>
                <th>Manipulation Type</th>
            </tr>
        </tfoot>
    </table>

{% endblock %}
{% block scripts %}
{{super()}}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#').DataTable( {
                "ajax": {
                    "url": "/mice",
                    "dataType": "json",
                    "dataSrc": "items",
                },
                "columns": [
                    { "data": "id" },
                    { "data": "number" },
                    { "data": "sex" },
                    { "data": "age" },
                    { "data": "gene" },
                    { "data": "mani_type" },
                ]
            } );
        } );
    </script>
{% endblock %}

