{% extends "base.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
    <style>
        td {
          list-style-type: none;
          padding: 10px;
          position: relative;
        }
        td > img {
            height: 75px;
            -webkit-filter: grayscale(1) invert(1);
        }
        .large {
            position: absolute;
            left: -9999px;
        }
        td:hover .large {
            left: 80px;
            top: 10px;
            z-index: 99999;
        }
        .large-image {
            border-radius: 4px;
            box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);;
        }
    </style>
{% endblock %}


{% block app_content %}
    <table id="example" class="display" style="width:85%">
         <thead>
             <tr>
                <th></th>
                <th></th>
                <th>Gene</th>
                <th>Experiment</th>
                <th>Genotype Gene</th>
                <th>Genotype Reporter</th>
                <th>Mouse#</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Mani-type</th>
                <th>Organ</th>
                <th>Uberon</th>
                <th>Orientation</th>
                <th>Slice ID</th>
                <th>z_step_size</th>
                <th>Resolution</th>
                <th>Instrument</th>
                <th>Wavelength</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Gene</th>
                <th>Experiment</th>
                <th>Genotype Gene</th>
                <th>Genotype Reporter</th>
                <th>Mouse #</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Mani-type</th>
                <th>Organ</th>
                <th>Uberon</th>
                <th>Orientation</th>
                <th>Slice ID</th>
                <th>z_step_size</th>
                <th>Resolution</th>
                <th>Instrument</th>
                <th>Wavelength</th>
            </tr>
        </tfoot>
    </table>

{% endblock %}
{% block scripts %}
{{super()}}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                "ajax": {
                    "url": "/slices?per_page=-1",
                    "dataType": "json",
                    "dataSrc": "items"
                },
                "columns": [
                     {
                      "render": function (data, type, JsonResultRow, meta) {
                        return '<a href="/details/'+JsonResultRow.id+'/public">'+JsonResultRow.id+'</a>';
                        }
                    },
                    {
                      "render": function (data, type, JsonResultRow, meta) {
                            return '<img src="'+JsonResultRow.img_url+'">' +
                                '<span class="large">\n' +
                                '    <img src="'+JsonResultRow.img_url+'" class="large-image">\n' +
                                '</span>';
                        }
                    },
                    { "data": "gene" },
                    { "data": "experiment" },
                    { "data": "genotype_gene" },
                    { "data": "genotype_reporter" },
                    { "data": "mouse_number" },
                    { "data": "sex" },
                    { "data": "age" },
                    { "data": "mani_type" },
                    { "data": "organ" },
                    { "data": "uberon" },
                    { "data": "orientation" },
                    { "data": "slice_id" },
                    { "data": "z_step_size" },
                    { "data": "resolution" },
                    { "data": "instrument" },
                    { "data": "wavelength" }
                ],
                initComplete: function () {
                    this.api().columns().every(function (i) {
                        var column = this;
                        if (i > 1)
                        {
                            var select = $('<select><option value=""></option></select>')
                                .appendTo( $(column.header()).empty() )
                                .on( 'change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search( val ? '^'+val+'$' : '', true, false )
                                        .draw();
                                } );

                            column.data().unique().sort().each( function ( d, j ) {
                                select.append( '<option value="'+d+'">'+d+'</option>' )
                            } );
                        }

                    });
                },
                "order": [[ 2, 'asc' ], [ 3, 'asc' ], [ 6, 'asc' ], [ 10, 'asc' ]]
            } );
        } );
    </script>
{% endblock %}

